[submodule "Prototyping-physical-interaction-"]
	path = Prototyping-physical-interaction-
	url = https://github.com/exiaruler/Prototyping-physical-interaction-
[submodule "aipassignment"]
	path = aipassignment
	url = https://github.com/exiaruler/aipassignment.git
[submodule "caculator-swift"]
	path = caculator-swift
	url = https://github.com/exiaruler/caculator-swift
[submodule "MarkTree"]
	path = MarkTree
	url = https://github.com/tylertran0311/MarkTree.git
[submodule "blog"]
	path = blog
	url = https://github.com/exiaruler/blog.git
[submodule "bubble_pop"]
	path = bubble_pop
	url = https://github.com/exiaruler/bubble_pop
