<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.wsd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.wsd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.wsd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>uts.wsd.controller.mainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>uts.wsd.controller.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>uts.wsd.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>uts.wsd.controller.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserServlet</servlet-name>
        <servlet-class>uts.wsd.controller.editUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>uts.wsd.controller.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>uts.wsd.controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataLoadProductServlet</servlet-name>
        <servlet-class>uts.wsd.controller.dataLoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>uts.wsd.controller.deleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>uts.wsd.controller.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.wsd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDeleteServlet</servlet-name>
        <servlet-class>uts.wsd.controller.loadDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLogsServlet</servlet-name>
        <servlet-class>uts.wsd.controller.viewLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchLogsServlet</servlet-name>
        <servlet-class>uts.wsd.controller.searchLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentConfirmServlet</servlet-name>
        <servlet-class>uts.wsd.controller.PaymentConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDeleteServlet</servlet-name>
        <servlet-class>uts.wsd.controller.PaymentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentUpdateServlet</servlet-name>
        <servlet-class>uts.wsd.controller.PaymentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.wsd.controller.PaymentServlet</servlet-class>
    </servlet>
       <servlet>
        <servlet-name>customerListServlet</servlet-name>
        <servlet-class>uts.wsd.controller.customerListServlet</servlet-class>
    </servlet>
           <servlet>
        <servlet-name>customerEditServlet</servlet-name>
        <servlet-class>uts.wsd.controller.customerEditServlet</servlet-class>
    </servlet>
           <servlet>
        <servlet-name>customerDeleteServlet</servlet-name>
        <servlet-class>uts.wsd.controller.customerDeleteServlet</servlet-class>
    </servlet>
           <servlet>
        <servlet-name>customerAddServlet</servlet-name>
        <servlet-class>uts.wsd.controller.customerAddServlet</servlet-class>
    </servlet>
          <servlet>
        <servlet-name>dataLoadCustomerServlet</servlet-name>
        <servlet-class>uts.wsd.controller.dataLoadCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/mainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserServlet</servlet-name>
        <url-pattern>/editUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataLoadProductServlet</servlet-name>
        <url-pattern>/dataLoadProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDeleteServlet</servlet-name>
        <url-pattern>/loadDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLogsServlet</servlet-name>
        <url-pattern>/viewLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchLogsServlet</servlet-name>
        <url-pattern>/searchLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentConfirmServlet</servlet-name>
        <url-pattern>/PaymentConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDeleteServlet</servlet-name>
        <url-pattern>/PaymentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentUpdateServlet</servlet-name>
        <url-pattern>/PaymentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>customerAddServlet</servlet-name>
        <url-pattern>/customerAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerDeleteServlet</servlet-name>
        <url-pattern>/customerDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerEditServlet</servlet-name>
        <url-pattern>/customerEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerListServlet</servlet-name>
        <url-pattern>/customerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataLoadCustomerServlet</servlet-name>
        <url-pattern>/dataLoadCustomerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
